body {
  margin: 0;
  overflow: hidden;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  display: grid;
  place-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: 0;
}

.cell:nth-child(3n + 1) {
  border-left: 0;
}

.cell:nth-child(3n + 3) {
  border-right: 0;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: 0;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  content: '';
  position: absolute;
  width: 13px;
  height: 90px;
  background: #000;
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background: #000;
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
  width: 63px;
  height: 63px;
  background: #fff;
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before {
  background: #ccc;
}

.win-msg {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  grid-template-columns: 1fr;
  place-content: center;
  row-gap: 1em;
  color: #fff;
}

.win-msg h1 {
  margin: auto;
}

.restart {
  width: 300px;
  margin: auto;
  font-size: 3rem;
  background: #fff;
  border: 1px solid #000;
  padding: 0.25em 0.5em;
  cursor: pointer;
  transition: 0.5s;
}

.restart:hover {
  background: #000;
  border-color: #fff;
  color: #fff;
}