body {
  margin: 0;
  overflow: hidden;
}
.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
}
.cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}
.cell:nth-child(3n + 1) {
  border-left: none;
}
.cell:nth-child(3n + 3) {
  border-right: none;
}
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}
.cell.x,
.cell.o {
  cursor: not-allowed;
}
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  content: '';
  position: absolute;
  width: 13px;
  height: 90px;
  background-color: black;
}
.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
}
.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background-color: black;
}
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
  width: 63px;
  height: 63px;
  background-color: white;
}
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before {
  background-color: #cccccc;
}
.win-msg {
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .9);
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr;
  row-gap: 1em;
  color: white;
  display: none;
}
.win-msg h1 {
  margin: auto;
}
.restart {
  width: 300px;
  margin: auto;
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: .25em .5em;
  cursor: pointer;
  transition: .5s;
}
.restart:hover {
  background-color: black;
  border-color: white;
  color: white;
}